@font-face {
  font-family: "chalk";
  src: url("CoalhandLuke.ttf");
}
@font-face {
  font-family: "robot";
  src: url("roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "robot-thin";
  src: url("roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "robot-it";
  src: url("roboto/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: "robot-med";
  src: url("roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "robot-bold";
  src: url("roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "robot-boldIt";
  src: url("roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "robotC-bold";
  src: url("roboto/RobotoCondensed-LightItalic.ttf");
}
/* line 3, ../sass/inputMap.scss */
#map-container {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 90;
  visibility: hidden;
  padding-top: 100px;
}

/* line 12, ../sass/inputMap.scss */
#map {
  height: 700px;
  width: 90%;
  z-index: 50;
  position: relative;
  margin: 0 auto;
  visibility: hidden;
  margin-top: 0;
  float: none;
}

/* line 25, ../sass/inputMap.scss */
.close-btn {
  text-align: right;
  width: 90%;
  margin: 0 auto;
}
/* line 30, ../sass/inputMap.scss */
.close-btn .main-btn {
  background-color: transparent;
  padding: 0 0 10px 0;
}
/* line 34, ../sass/inputMap.scss */
.close-btn .main-btn a {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url("../img/icon-close.png") no-repeat;
  background-size: 40px;
}
/* line 42, ../sass/inputMap.scss */
.close-btn .main-btn a:hover {
  background: url("../img/icon-close.png") right 0 no-repeat;
  background-size: 40px;
}

@media only screen and (max-width: 690px) {
  /* line 51, ../sass/inputMap.scss */
  #map {
    width: 100%;
  }
}
/* line 56, ../sass/inputMap.scss */
label {
  color: white;
}

/* line 61, ../sass/inputMap.scss */
pre.ui-distance {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  z-index: 60;
}

/* line 73, ../sass/inputMap.scss */
.infobar {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 60;
  width: 250px;
  height: 100%;
  background-color: #454549;
  opacity: 0.8;
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
}

/* line 88, ../sass/inputMap.scss */
.menu-ui {
  position: absolute;
  top: 150px;
  left: 10px;
  z-index: 10;
  width: 120px;
}

/* line 91, ../sass/inputMap.scss */
.menu-ui a {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* line 105, ../sass/inputMap.scss */
.menu-ui a:hover {
  background: #f8f8f8;
  color: #404040;
}

/* line 109, ../sass/inputMap.scss */
.menu-ui a.active {
  background: #3887BE;
  color: #FFF;
}

/* line 113, ../sass/inputMap.scss */
.menu-ui a.active:hover {
  background: #3074a4;
}

/* line 115, ../sass/inputMap.scss */
.menu-ui a.cannotsee {
  visibility: hidden;
}

/* line 120, ../sass/inputMap.scss */
.travelbuttondiv {
  overflow: hidden;
  float: left;
  position: relative;
  left: 15px;
  line-height: 70px;
}

/* line 129, ../sass/inputMap.scss */
.travel-btn {
  display: inline-block;
  height: 27px;
  vertical-align: middle;
  width: 57px;
}

/* line 138, ../sass/inputMap.scss */
.row {
  margin-bottom: 10px;
  margin-left: 10px;
}

/* line 143, ../sass/inputMap.scss */
.buttonrow {
  margin-left: 10px;
  text-align: center;
}

/* line 149, ../sass/inputMap.scss */
#car-btn {
  background: url("../img/icon-sprite.png") left top no-repeat;
  background-size: 200px;
}
/* line 153, ../sass/inputMap.scss */
#car-btn:hover, #car-btn.clicked {
  background: url("../img/icon-sprite.png") left bottom no-repeat;
  background-size: 200px;
}

/* line 160, ../sass/inputMap.scss */
#bike-btn {
  background: url("../img/icon-sprite.png") right top no-repeat;
  background-size: 200px;
}
/* line 164, ../sass/inputMap.scss */
#bike-btn:hover, #bike-btn.clicked {
  background: url("../img/icon-sprite.png") right bottom no-repeat;
  background-size: 200px;
}

/* line 171, ../sass/inputMap.scss */
#walk-btn {
  background: url("../img/icon-sprite.png") center top no-repeat;
  background-size: 200px;
}
/* line 175, ../sass/inputMap.scss */
#walk-btn:hover, #walk-btn.clicked {
  background: url("../img/icon-sprite.png") center bottom no-repeat;
  background-size: 200px;
}

/* line 182, ../sass/inputMap.scss */
#car-btn-clicked {
  background: url("../img/icon-sprite.png") left bottom no-repeat;
  background-size: 200px;
}

/* line 186, ../sass/inputMap.scss */
#bike-btn-clicked {
  background: url("../img/icon-sprite.png") right bottom no-repeat;
  background-size: 200px;
}

/* line 190, ../sass/inputMap.scss */
#walk-btn-clicked {
  background: url("../img/icon-sprite.png") center bottom no-repeat;
  background-size: 200px;
}

/* line 215, ../sass/inputMap.scss */
#routeinputselection {
  text-align: right;
  width: 90%;
  margin: 0 auto;
  vertical-align: middle;
}

/* line 222, ../sass/inputMap.scss */
#route-draw {
  width: 50%;
  padding: 15px 0;
  float: left;
  text-align: center;
  background-color: #F750E3;
}

/* line 229, ../sass/inputMap.scss */
#route-upload {
  width: 50%;
  padding: 15px 0;
  height: 100%;
  float: right;
  text-align: center;
  background-color: #F750E3;
}

/* line 238, ../sass/inputMap.scss */
.main-btn {
  /*  padding: 3px 0;
    background-color: $pink;
    width: 90px;
    text-align: center;
   font-size: 14px;
   font-weight: bold;*/
}
/* line 245, ../sass/inputMap.scss */
.main-btn a {
  color: white;
}
