@font-face {
  font-family: "chalk";
  src: url("CoalhandLuke.ttf");
}

@font-face {
  font-family: "robot";
  src: url("roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "robot-thin";
  src: url("roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "robot-it";
  src: url("roboto/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: "robot-med";
  src: url("roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "robot-bold";
  src: url("roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "robot-boldIt";
  src: url("roboto/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: "robotC-bold";
  src: url("roboto/RobotoCondensed-LightItalic.ttf");
}

/* line 3, ../sass/inputMap.scss */
#map-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 90;
  visibility: hidden;
  padding-top: 0px;
}

/* line 13, ../sass/inputMap.scss */
#map {
  height: 1000px;
  width: 90%;
  z-index: 50;
  position: relative;
  margin: 0 auto;
  visibility: hidden;
  margin-top: 0;
  float: none;
}

/* line 25, ../sass/inputMap.scss */
.close-btn {
  text-align: right;
  width: 90%;
  margin: 0 auto;
}
/* line 30, ../sass/inputMap.scss */
.close-btn .main-btn {
  background-color: transparent;
  padding: 0 0 10px 0;
}
/* line 34, ../sass/inputMap.scss */
.close-btn .main-btn a {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url("../img/icon-close.png") no-repeat;
  background-size: 40px;
}
/* line 42, ../sass/inputMap.scss */
.close-btn .main-btn a:hover {
  background: url("../img/icon-close.png") right 0 no-repeat;
  background-size: 40px;
}

@media only screen and (max-width: 690px) {
  /* line 51, ../sass/inputMap.scss */
  #map {
    width: 100%;
  }
}
/* line 56, ../sass/inputMap.scss */
label {
  color: white;
}

/* line 61, ../sass/inputMap.scss */
pre.ui-distance {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  z-index: 60;
}

/* line 74, ../sass/inputMap.scss */
.infobar {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 60;
  width: 250px;
  height: 100%;
  background-color: #454549;
  opacity: 0.8;
  padding: 10px;
  padding-bottom: 23px;
  overflow: hidden;
  padding-right: 0;
}

/* line 91, ../sass/inputMap.scss */
#formId {
  height: 100%;
  padding-bottom: 30px;
  position: relative;
  padding-right: 30px;
}

/* line 98, ../sass/inputMap.scss */
.menu-ui {
  position: absolute;
  top: 150px;
  left: 10px;
  z-index: 10;
  width: 120px;
}

/* line 102, ../sass/inputMap.scss */
.menu-ui a {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* line 115, ../sass/inputMap.scss */
.menu-ui a:hover {
  background: #f8f8f8;
  color: #404040;
}

/* line 119, ../sass/inputMap.scss */
.menu-ui a.active {
  background: #3887BE;
  color: #FFF;
}

/* line 123, ../sass/inputMap.scss */
.menu-ui a.active:hover {
  background: #3074a4;
}

/* line 126, ../sass/inputMap.scss */
.menu-ui a.cannotsee {
  visibility: hidden;
}

/* line 131, ../sass/inputMap.scss */
.travelbuttondiv {
  overflow: hidden;
  float: left;
  position: relative;
  left: 15px;
  line-height: 70px;
}

/* line 140, ../sass/inputMap.scss */
.travel-btn {
  display: inline-block;
  height: 27px;
  vertical-align: middle;
  width: 57px;
}

/* line 148, ../sass/inputMap.scss */
.row {
  margin-bottom: 20px;
}

/* line 153, ../sass/inputMap.scss */
.timeRow {
  margin-bottom: 5px;
}

/* line 158, ../sass/inputMap.scss */
.buttonrow {
  margin-bottom: 20px;
  text-align: center;
}
/* line 163, ../sass/inputMap.scss */
.buttonrow #bike-btn {
  float: left;
}
/* line 167, ../sass/inputMap.scss */
.buttonrow #walk-btn {
  float: right;
}

/* line 172, ../sass/inputMap.scss */
#formId .fullLabel {
  display: block;
  margin-bottom: 10px;
}

/* line 177, ../sass/inputMap.scss */
#car-btn {
  background: url("../img/icon-sprite.png") left top no-repeat;
  background-size: 200px;
}
/* line 181, ../sass/inputMap.scss */
#car-btn:hover, #car-btn.clicked {
  background: url("../img/icon-sprite.png") left bottom no-repeat;
  background-size: 200px;
}

/* line 188, ../sass/inputMap.scss */
#bike-btn {
  background: url("../img/icon-sprite.png") right top no-repeat;
  background-size: 200px;
}
/* line 192, ../sass/inputMap.scss */
#bike-btn:hover, #bike-btn.clicked {
  background: url("../img/icon-sprite.png") right bottom no-repeat;
  background-size: 200px;
}

/* line 199, ../sass/inputMap.scss */
#walk-btn {
  background: url("../img/icon-sprite.png") center top no-repeat;
  background-size: 200px;
}
/* line 203, ../sass/inputMap.scss */
#walk-btn:hover, #walk-btn.clicked {
  background: url("../img/icon-sprite.png") center bottom no-repeat;
  background-size: 200px;
}

/* line 210, ../sass/inputMap.scss */
#car-btn-clicked {
  background: url("../img/icon-sprite.png") left bottom no-repeat;
  background-size: 200px;
}

/* line 214, ../sass/inputMap.scss */
#bike-btn-clicked {
  background: url("../img/icon-sprite.png") right bottom no-repeat;
  background-size: 200px;
}

/* line 218, ../sass/inputMap.scss */
#walk-btn-clicked {
  background: url("../img/icon-sprite.png") center bottom no-repeat;
  background-size: 200px;
}

/* line 243, ../sass/inputMap.scss */
#routeinputselection {
  width: 90%;
  margin: 0 auto;
  background-color: #454549;
  overflow: hidden;
  z-index: 90;
  position: absolute;
  left: 5%;
}
/* line 253, ../sass/inputMap.scss */
#routeinputselection #route-draw {
  width: 50%;
  float: left;
  text-align: center;
  padding: 5px 0;
  background-color: #454549;
}
/* line 262, ../sass/inputMap.scss */
#routeinputselection #route-upload {
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
  padding: 5px 0;
  background-color: #454549;
}
/* line 271, ../sass/inputMap.scss */
#routeinputselection img {
  height: 70px;
  width: 70px;
}
/* line 276, ../sass/inputMap.scss */
#routeinputselection .main-btn {
  background-color: #f750e3;
  padding: 8px;
  float: right;
  margin: 0 10%;
  right: 10%;
  font-size: 14px;
  font-style: bold;
  font-family: Arial;
}
/* line 286, ../sass/inputMap.scss */
#routeinputselection p {
  width: 90%;
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
}

/* line 296, ../sass/inputMap.scss */
#scroll-container {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* line 305, ../sass/inputMap.scss */
#manyinput > .gridWrapper > .column-6 {
  padding-left: 0;
  padding-top: 0;
}

/* line 311, ../sass/inputMap.scss */
#submit-div {
  position: absolute;
  bottom: 0;
  margin-left: 0;
  text-align: center;
  width: 100%;
}

/* line 321, ../sass/inputMap.scss */
#submit.main-btn {
  padding: 3px 0;
  width: 60px;
  font-size: 12px;
}
/* line 328, ../sass/inputMap.scss */
#submit.main-btn a {
  color: white;
}

/* line 335, ../sass/inputMap.scss */
#down-btn {
  bottom: 30px;
  height: 100px;
  position: absolute;
  right: 0;
  width: 40px;
}
/* line 343, ../sass/inputMap.scss */
#down-btn .container {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 5px;
  bottom: 0;
}
/* line 351, ../sass/inputMap.scss */
#down-btn img {
  width: 100%;
}

/* line 356, ../sass/inputMap.scss */
#up-btn {
  top: 0;
  height: 100px;
  position: absolute;
  right: 0;
  width: 40px;
}
/* line 363, ../sass/inputMap.scss */
#up-btn .container {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 5px;
  top: 0;
}
/* line 371, ../sass/inputMap.scss */
#up-btn img {
  width: 100%;
}
