/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "robot";
  src: url("roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "robot-thin";
  src: url("roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "robot-it";
  src: url("roboto/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: "robot-med";
  src: url("roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "robot-bold";
  src: url("roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "robot-boldIt";
  src: url("roboto/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: "robotC-bold";
  src: url("roboto/RobotoCondensed-LightItalic.ttf");
}

/* ------------------------------------------------------ */
/* ==========================================================================
        BASICS
   ========================================================================== */
/* line 86, ../sass/main.scss */
html {
  font-size: 16px;
  font-family: "robot", san-serif;
}

/* line 93, ../sass/main.scss */
body {
  font-family: "robot", sans-serif;
  color: white;
  font-weight: 200;
  background-color: #222222;
}

/* line 100, ../sass/main.scss */
h1 {
  font-size: 3.4375rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

/* line 106, ../sass/main.scss */
h1 > span {
  font-family: "robot-it", sans-serif;
  font-weight: 100;
}

/* line 111, ../sass/main.scss */
h2 {
  font-size: 2.25rem;
  margin-bottom: 0.9375rem;
  font-family: "robot-boldIt";
}

/* line 117, ../sass/main.scss */
h3 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  font-family: "robot-med";
}

/* line 124, ../sass/main.scss */
a {
  text-decoration: none;
  color: white;
}
/* line 128, ../sass/main.scss */
a:hover {
  color: #222222;
}

/* line 133, ../sass/main.scss */
.width-sizer {
  max-width: 1200px;
  margin: auto;
  display: block;
}

/* line 139, ../sass/main.scss */
section {
  width: 100%;
  overflow: hidden;
}

/* line 144, ../sass/main.scss */
.section-Padding {
  padding: 4.375rem 30px;
  overflow: hidden;
}

/* line 150, ../sass/main.scss */
.main-btn {
  display: inline-block;
  background-color: #f750e3;
  padding: 0.625rem;
  font-family: "robotC-bold";
}

/* line 157, ../sass/main.scss */
.backgroundImage {
  display: none;
}

@media only screen and (max-width: 690px) {
  /* line 165, ../sass/main.scss */
  html {
    font-size: 12px;
  }
}
/* ==========================================================================
       HEADER
   ========================================================================== */
/* line 175, ../sass/main.scss */
header {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #00b6d3;
  width: 100%;
}
/* line 183, ../sass/main.scss */
header .module-padding {
  padding: 10px 30px;
  overflow: hidden;
  text-align: right;
}
/* line 189, ../sass/main.scss */
header .filler {
  height: 45px;
  width: 1px;
  display: inline-block;
}

/* line 197, ../sass/main.scss */
#header-logo {
  float: left;
}
/* line 200, ../sass/main.scss */
#header-logo img {
  height: 45px;
}

/* line 205, ../sass/main.scss */
#header-nav {
  overflow: hidden;
  display: inline-block;
}
/* line 209, ../sass/main.scss */
#header-nav li {
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
}
/* line 214, ../sass/main.scss */
#header-nav li a {
  text-transform: uppercase;
}

/* line 220, ../sass/main.scss */
#burger-button {
  display: none;
}

@media only screen and (max-width: 690px) {
  /* line 226, ../sass/main.scss */
  #burger-button {
    display: inline-block;
  }
  /* line 228, ../sass/main.scss */
  #burger-button img {
    height: 35px;
  }

  /* line 233, ../sass/main.scss */
  #header-nav {
    display: none;
  }

  /* line 237, ../sass/main.scss */
  #header-nav.show {
    display: block;
    text-align: center;
    width: 100%;
  }
  /* line 242, ../sass/main.scss */
  #header-nav.show li {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
  }

  /* line 250, ../sass/main.scss */
  header .module-padding {
    padding: 10px 30px;
  }
  /* line 254, ../sass/main.scss */
  header .filler {
    display: none;
  }

  /* line 259, ../sass/main.scss */
  #header-logo img {
    height: 35px;
  }
}
/* ==========================================================================
      FOOTER
   ========================================================================== */
/* line 269, ../sass/main.scss */
footer {
  font-size: 2.25rem;
  background-color: white;
}
/* line 273, ../sass/main.scss */
footer img {
  height: 200px;
}
/* line 277, ../sass/main.scss */
footer ul {
  float: right;
}
/* line 281, ../sass/main.scss */
footer a {
  color: #00b6d3;
}
/* line 284, ../sass/main.scss */
footer a:hover {
  color: white;
}

/* ==========================================================================
      MAIN CONTENT
   ========================================================================== */
/* line 297, ../sass/main.scss */
#intro-sec {
  margin-top: 3.75rem;
  position: relative;
  background: url("../img/bg_bikes.png") no-repeat;
  background-size: 100%;
}
/* line 304, ../sass/main.scss */
#intro-sec #bikes {
  visibility: hidden;
  width: 100%;
}
/* line 309, ../sass/main.scss */
#intro-sec .section-Padding {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: visible;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 60px 0;
}
/* line 318, ../sass/main.scss */
#intro-sec .width-sizer {
  position: relative;
}
/* line 322, ../sass/main.scss */
#intro-sec .width-sizer h1, #intro-sec .width-sizer h3 {
  color: #00b6d3;
}
/* line 327, ../sass/main.scss */
#intro-sec .btn-container {
  bottom: -95px;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 333, ../sass/main.scss */
#intro-sec .btn-container .main-btn {
  margin-right: 1.25rem;
}
@media only screen and (max-width: 690px) {
  /* line 339, ../sass/main.scss */
  #intro-sec .section-Padding {
    padding-top: 6.25rem;
  }
}
/* line 343, ../sass/main.scss */
#intro-sec .invisibleDiv {
  width: 100%;
  height: 6.25rem;
}

/* 
   about
   ========================================================================== */
/* line 352, ../sass/main.scss */
#about-sec {
  background-image: url("../img/bg_inverleith.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 357, ../sass/main.scss */
#about-sec .section-Padding {
  background-color: rgba(0, 182, 211, 0.5);
  height: 100%;
}
/* line 361, ../sass/main.scss */
#about-sec .section-Padding .width-sizer {
  float: right;
  width: 40%;
  padding: 5%;
}

/* 
   map
   ========================================================================== */
/* line 373, ../sass/main.scss */
#map-sec {
  position: relative;
  background-image: url("../img/blackMap.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: calc(100% - 20px);
}
/* line 380, ../sass/main.scss */
#map-sec > img {
  width: 100%;
}
/* line 384, ../sass/main.scss */
#map-sec .width-sizer {
  width: 50%;
  float: right;
  padding: 0 30px;
}

/* 
   about us
   ========================================================================== */
/* line 395, ../sass/main.scss */
#team-sec {
  background-color: #222222;
  color: #00b6d3;
}
/* line 399, ../sass/main.scss */
#team-sec .width-sizer {
  width: 50%;
  float: left;
}
