/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "chalk";
  src: url("CoalhandLuke.ttf");
}

@font-face {
  font-family: "robot";
  src: url("roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "robot-thin";
  src: url("roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "robot-it";
  src: url("roboto/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: "robot-med";
  src: url("roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "robot-bold";
  src: url("roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "robot-boldIt";
  src: url("roboto/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: "robotC-bold";
  src: url("roboto/RobotoCondensed-LightItalic.ttf");
}

/* ------------------------------------------------------ */
/* ==========================================================================
        BASICS
   ========================================================================== */
/* line 38, ../sass/main.scss */
html {
  font-size: 16px;
  line-height: 24px;
  font-family: "robot-thin", san-serif;
}

/* line 46, ../sass/main.scss */
body {
  font-family: "robot", sans-serif;
  color: white;
  font-weight: 200;
  background-color: #454549;
}

/* line 53, ../sass/main.scss */
h1 {
  font-size: 7.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
  line-height: 8.75rem;
  font-family: "chalk", sans-serif;
}

/* line 62, ../sass/main.scss */
h2 {
  font-size: 2.25rem;
  margin-bottom: 0.9375rem;
  font-family: "robot-boldIt";
  line-height: 2.875rem;
}

/* line 69, ../sass/main.scss */
h3 {
  text-align: center;
  font-size: 1.75rem;
  line-height: 2rem;
  margin-bottom: 1.25rem;
  font-family: "robot-thin";
}

/* line 77, ../sass/main.scss */
a {
  text-decoration: none;
  color: white;
}
/* line 81, ../sass/main.scss */
a:hover {
  color: #454549;
}

/* line 86, ../sass/main.scss */
p {
  line-height: 1.875rem;
  font-size: 1.25rem;
  font-family: "robot-thin";
}

/* line 92, ../sass/main.scss */
.width-sizer {
  max-width: 1200px;
  margin: auto;
  display: block;
}

/* line 98, ../sass/main.scss */
section {
  width: 100%;
  overflow: hidden;
}

/* line 104, ../sass/main.scss */
.fullHeightSection {
  height: 80vh;
}

/* line 108, ../sass/main.scss */
.section-Padding {
  padding: 4.375rem 30px;
  overflow: hidden;
}

/* line 114, ../sass/main.scss */
.main-btn {
  display: inline-block;
  background-color: #f750e3;
  padding: 0.625rem;
  font-family: "robot-thin", san-serif;
  font-size: 1.25rem;
  font-style: italic;
}

/* line 123, ../sass/main.scss */
.backgroundImage {
  display: none;
}

/* line 128, ../sass/main.scss */
.column-left {
  display: inline-block;
  width: calc(50% - 5px);
  margin-right: 10px;
  overflow: hidden;
}

/* line 135, ../sass/main.scss */
.column-right {
  display: inline-block;
  width: calc(50% - 10px);
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  /* line 145, ../sass/main.scss */
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 690px) {
  /* line 154, ../sass/main.scss */
  p {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
/* ==========================================================================
       HEADER
   ========================================================================== */
/* line 162, ../sass/main.scss */
header {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #0054a6;
  width: 100%;
}
/* line 170, ../sass/main.scss */
header .module-padding {
  padding: 10px 30px;
  overflow: hidden;
  text-align: right;
}
/* line 176, ../sass/main.scss */
header .filler {
  height: 45px;
  width: 1px;
  display: inline-block;
}

/* line 184, ../sass/main.scss */
#header-logo {
  float: left;
}
/* line 187, ../sass/main.scss */
#header-logo img {
  height: 45px;
}

/* line 192, ../sass/main.scss */
#header-nav {
  overflow: hidden;
  display: inline-block;
}
/* line 196, ../sass/main.scss */
#header-nav li {
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
}
/* line 201, ../sass/main.scss */
#header-nav li a {
  text-transform: uppercase;
}

/* line 207, ../sass/main.scss */
#burger-button {
  display: none;
}

@media only screen and (max-width: 690px) {
  /* line 213, ../sass/main.scss */
  #burger-button {
    display: inline-block;
  }
  /* line 215, ../sass/main.scss */
  #burger-button img {
    height: 35px;
  }

  /* line 220, ../sass/main.scss */
  #header-nav {
    display: none;
    display: block;
    text-align: center;
    width: 100%;
  }
  /* line 227, ../sass/main.scss */
  #header-nav li {
    display: block;
    margin-bottom: 0px;
    padding: 10px;
  }
  /* line 232, ../sass/main.scss */
  #header-nav li a {
    display: block;
    padding: 10px 0;
  }

  /* line 239, ../sass/main.scss */
  header {
    font-size: 24px;
  }
  /* line 243, ../sass/main.scss */
  header .module-padding {
    padding: 10px 30px;
  }
  /* line 247, ../sass/main.scss */
  header .filler {
    display: none;
  }

  /* line 252, ../sass/main.scss */
  #header-logo img {
    height: 35px;
  }
}
/* ==========================================================================
      FOOTER
   ========================================================================== */
/* line 262, ../sass/main.scss */
footer#footer {
  font-size: 1.125rem;
  background-color: #454549;
  color: white;
}
/* line 267, ../sass/main.scss */
footer#footer p {
  margin-bottom: 10px;
}
/* line 271, ../sass/main.scss */
footer#footer h3 {
  text-align: left;
}
/* line 275, ../sass/main.scss */
footer#footer img {
  width: 20%;
  margin-right: 3%;
  vertical-align: top;
}
/* line 281, ../sass/main.scss */
footer#footer img:nth-of-type {
  margin-right: 0;
  float: right;
}
/* line 287, ../sass/main.scss */
footer#footer .footer-logos {
  display: inline-block;
}
/* line 289, ../sass/main.scss */
footer#footer .footer-logos img {
  height: 100px;
  margin-right: 10px;
}
/* line 295, ../sass/main.scss */
footer#footer #footer-nav {
  width: 100%;
  margin-top: 1.25rem;
}
/* line 299, ../sass/main.scss */
footer#footer #footer-nav li {
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
}
/* line 308, ../sass/main.scss */
footer#footer a {
  color: white;
}
/* line 311, ../sass/main.scss */
footer#footer a:hover {
  color: #0072bc;
}

/* ==========================================================================
      MAIN CONTENT
   ========================================================================== */
/* line 323, ../sass/main.scss */
#footprints {
  position: absolute;
  z-index: 10;
  width: 23%;
  max-width: 300px;
  opacity: 0.5;
}

/* line 331, ../sass/main.scss */
#intro-sec {
  margin-top: 5rem;
  position: relative;
  background-color: #0072bc;
}
/* line 362, ../sass/main.scss */
#intro-sec .btn-container {
  text-align: center;
}

/* 
   about
   ========================================================================== */
/* line 385, ../sass/main.scss */
#about-sec {
  background-color: #454549;
}
/* line 392, ../sass/main.scss */
#about-sec h2 {
  text-align: center;
}
/* line 396, ../sass/main.scss */
#about-sec #pointingArrow {
  margin-top: 0.625rem;
}
/* line 400, ../sass/main.scss */
#about-sec .section-Padding {
  padding-bottom: 0;
}

/* 
   map
   ========================================================================== */
/* line 443, ../sass/main.scss */
#map-sec {
  position: relative;
}
/* line 446, ../sass/main.scss */
#map-sec .section-Padding {
  padding: 0;
}

/* 
   about us
   ========================================================================== */
/* line 454, ../sass/main.scss */
#team-sec {
  background-color: #0072bc;
  color: white;
}
/* line 458, ../sass/main.scss */
#team-sec img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
/* line 464, ../sass/main.scss */
#team-sec img.logo {
  width: 80%;
  margin: 0;
}
/* line 469, ../sass/main.scss */
#team-sec a:hover {
  color: #f750e3;
}

/* ==========================================================================
		INPUT MAP   
   ========================================================================== */
/* line 478, ../sass/main.scss */
#overlay {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0;
  z-index: 40;
  visibility: hidden;
}

/* ==========================================================================
		FOR LOADING   
   ========================================================================== */
/* line 496, ../sass/main.scss */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background-color: black;
}

/* line 504, ../sass/main.scss */
.l-wrapper {
  position: absolute;
  width: 480px;
  height: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
