@font-face {
  font-family: "chalk";
  src: url("CoalhandLuke.ttf");
}
@font-face {
  font-family: "robot";
  src: url("roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "robot-thin";
  src: url("roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "robot-it";
  src: url("roboto/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: "robot-med";
  src: url("roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "robot-bold";
  src: url("roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "robot-boldIt";
  src: url("roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "robotC-bold";
  src: url("roboto/RobotoCondensed-LightItalic.ttf");
}
/* line 3, ../sass/roadVisual.scss */
.axis path,
.axis line {
  fill: #0054a6;
  stroke: white;
  shape-rendering: crispEdges;
}

/* line 10, ../sass/roadVisual.scss */
.axis text {
  font-family: Arial;
  font-size: 40px;
  fill: white;
}

/* line 18, ../sass/roadVisual.scss */
.roadname {
  position: fixed;
  font-family: Arial;
  font-size: 20px;
  color: white;
  left: 0px;
  height: 1000px;
  width: 500px;
}
/* line 27, ../sass/roadVisual.scss */
.roadname text {
  fill: white;
}

/* line 32, ../sass/roadVisual.scss */
#roadcontainer {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 250px;
  float: left;
  padding-left: 8px;
  margin-top: 8px;
  border-right: 10px;
  border-color: #0072bc;
  background-color: #0054a6;
}

/* line 50, ../sass/roadVisual.scss */
g .bike {
  stroke: green;
  fill: green;
  opacity: 0.8;
}
/* line 55, ../sass/roadVisual.scss */
g .bike:hover {
  stroke: #7CFC00;
  fill: #7CFC00;
}
/* line 61, ../sass/roadVisual.scss */
g .car {
  stroke: red;
  fill: red;
  opacity: 0.8;
}
/* line 66, ../sass/roadVisual.scss */
g .car:hover {
  stroke: #FF7F50;
  fill: #FF7F50;
}
/* line 72, ../sass/roadVisual.scss */
g .walk {
  stroke: blue;
  fill: blue;
  opacity: 0.8;
}
/* line 77, ../sass/roadVisual.scss */
g .walk:hover {
  stroke: #87CEEB;
  fill: #87CEEB;
}

/* line 86, ../sass/roadVisual.scss */
body {
  background-color: #454549;
}

/* line 92, ../sass/roadVisual.scss */
.bike-conline {
  stroke: green;
  fill: green;
  opacity: 0.8;
}

/* line 98, ../sass/roadVisual.scss */
.car-conline {
  stroke: red;
  fill: red;
  opacity: 0.8;
}

/* line 104, ../sass/roadVisual.scss */
.walk-conline {
  stroke: blue;
  fill: blue;
  opacity: 0.8;
}
