@font-face {
  font-family: "chalk";
  src: url("CoalhandLuke.ttf");
}

@font-face {
  font-family: "robot";
  src: url("roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "robot-thin";
  src: url("roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "robot-it";
  src: url("roboto/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: "robot-med";
  src: url("roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "robot-bold";
  src: url("roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "robot-boldIt";
  src: url("roboto/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: "robotC-bold";
  src: url("roboto/RobotoCondensed-LightItalic.ttf");
}

/* ==========================================================================
   HEADING
   ========================================================================== */
/* line 9, ../sass/visualization.scss */
#sliderHeader {
  background: none repeat scroll 0 0;
  background-color: rgba(69, 69, 73, 0.6);
  height: 80px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
/* line 18, ../sass/visualization.scss */
#sliderHeader .section-Padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 23, ../sass/visualization.scss */
#sliderHeader .sliderHeader-content {
  display: none;
}
/* line 26, ../sass/visualization.scss */
#sliderHeader .sliderHeader-content.show {
  display: block;
}

/* ==========================================================================
   CONTENT
   ========================================================================== */
/* line 36, ../sass/visualization.scss */
#outputSlider {
  /* 
     MAP WITH PATHS
     ========================================================================== */
  /* 
     For the Comment Section
     ========================================================================== */
  /* 
     For the Filter
     ========================================================================== */
}
/* line 42, ../sass/visualization.scss */
#outputSlider #resultMap {
  width: 100%;
  height: 700px;
}
/* line 47, ../sass/visualization.scss */
#outputSlider #resultMap .leaflet-top .leaflet-control {
  margin-top: 90px;
}
/* line 51, ../sass/visualization.scss */
#outputSlider #resultMap .journey {
  fill: none;
  stroke-width: 3;
  stroke-opacity: 0.5;
}
/* line 57, ../sass/visualization.scss */
#outputSlider #resultMap .bike {
  stroke: green;
}
/* line 61, ../sass/visualization.scss */
#outputSlider #resultMap .car {
  stroke: red;
}
/* line 65, ../sass/visualization.scss */
#outputSlider #resultMap .walk {
  stroke: blue;
}
/* line 78, ../sass/visualization.scss */
#outputSlider #commentOutput {
  color: #454549;
  position: relative;
}
/* line 83, ../sass/visualization.scss */
#outputSlider .gridWrapper {
  max-width: 2000px;
  padding-top: 80px;
}
/* line 89, ../sass/visualization.scss */
#outputSlider #filter-sidebar {
  width: 215px;
}
/* line 92, ../sass/visualization.scss */
#outputSlider #filter-sidebar h4 {
  margin-bottom: 15px;
}
/* line 97, ../sass/visualization.scss */
#outputSlider #comment-pane {
  height: 100%;
  overflow: scroll;
  width: calc(100% - 220px);
}
/* line 104, ../sass/visualization.scss */
#outputSlider #comment-pane #overlayComment {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(69, 69, 73, 0.7);
  display: none;
}
/* line 112, ../sass/visualization.scss */
#outputSlider #comment-pane .comment {
  margin-bottom: 10px;
}
/* line 118, ../sass/visualization.scss */
#outputSlider #comment-pane .comment .comment-text {
  overflow: hidden;
  background-color: rgba(69, 69, 73, 0.7);
  color: white;
  text-align: left;
  padding: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 128, ../sass/visualization.scss */
#outputSlider #comment-pane .comment .comment-text > p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 136, ../sass/visualization.scss */
#outputSlider #comment-pane .comment:hover {
  cursor: pointer;
}
/* line 139, ../sass/visualization.scss */
#outputSlider #comment-pane .comment:hover .comment-text {
  background-color: rgba(69, 69, 73, 0.9);
}
/* line 147, ../sass/visualization.scss */
#outputSlider #comment-pane .comment {
  display: none;
}
/* line 152, ../sass/visualization.scss */
#outputSlider #comment-pane.bike .comment.bike {
  display: block;
}
/* line 158, ../sass/visualization.scss */
#outputSlider #comment-pane.car .comment.walk {
  display: block;
}
/* line 164, ../sass/visualization.scss */
#outputSlider #comment-pane.walk .comment.car {
  display: block;
}
@media only screen and (max-width: 800px) {
  /* line 173, ../sass/visualization.scss */
  #outputSlider #comment-pane .comment {
    height: 100px;
  }
}
/* line 185, ../sass/visualization.scss */
#outputSlider .travel-btn {
  display: inline-block;
  height: 27px;
  vertical-align: middle;
  width: 57px;
}
/* line 193, ../sass/visualization.scss */
#outputSlider #car-btn {
  background: url("../img/icon-sprite.png") left top no-repeat;
  background-size: 200px;
}
/* line 197, ../sass/visualization.scss */
#outputSlider #car-btn:hover, #outputSlider #car-btn.clicked {
  background: url("../img/icon-sprite.png") left bottom no-repeat;
  background-size: 200px;
}
/* line 204, ../sass/visualization.scss */
#outputSlider #bike-btn {
  background: url("../img/icon-sprite.png") right top no-repeat;
  background-size: 200px;
}
/* line 208, ../sass/visualization.scss */
#outputSlider #bike-btn:hover, #outputSlider #bike-btn.clicked {
  background: url("../img/icon-sprite.png") right bottom no-repeat;
  background-size: 200px;
}
/* line 215, ../sass/visualization.scss */
#outputSlider #walk-btn {
  background: url("../img/icon-sprite.png") center top no-repeat;
  background-size: 200px;
}
/* line 219, ../sass/visualization.scss */
#outputSlider #walk-btn:hover, #outputSlider #walk-btn.clicked {
  background: url("../img/icon-sprite.png") center bottom no-repeat;
  background-size: 200px;
}
