/* line 1, ../sass/visualization.scss */
#resultMap {
  width: 100%;
  height: 600px;
}

/* line 6, ../sass/visualization.scss */
.journey {
  fill: none;
  stroke-width: 3;
  stroke-opacity: 0.3;
}

/* line 12, ../sass/visualization.scss */
.bike {
  stroke: green;
}

/* line 16, ../sass/visualization.scss */
.car {
  stroke: blue;
}

/* line 20, ../sass/visualization.scss */
.walk {
  stroke: yellow;
}
