/* line 1, ../sass/visualization.scss */
#resultMap {
  width: 100%;
  height: 600px;
}
/* line 5, ../sass/visualization.scss */
#resultMap .journey {
  fill: none;
  stroke-width: 3;
  stroke-opacity: 0.3;
}
/* line 11, ../sass/visualization.scss */
#resultMap .bike {
  stroke: green;
}
/* line 15, ../sass/visualization.scss */
#resultMap .car {
  stroke: blue;
}
/* line 19, ../sass/visualization.scss */
#resultMap .walk {
  stroke: red;
}
