@import "variables";

#map-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 90;
  visibility:hidden;
  padding-top: 0px;
}

#map
{
  height:1000px;
  width:90%;
  z-index:50;
  position:relative; 
  margin: 0 auto; 
  visibility:hidden;
  margin-top: 0;
  float: none;
 }


 .close-btn {
  text-align: right;
  width: 90%;
  margin: 0 auto;

    .main-btn {
      background-color: transparent;
      padding: 0 0 10px 0;

      a {
        display: inline-block;
        height: 20px;
        width: 20px;
        background: url('../img/icon-close.png') no-repeat;
        background-size: 40px;
      }

      a:hover {
        background: url('../img/icon-close.png') right 0 no-repeat;
        background-size: 40px;
      }
    }
 }


@media only screen and (max-width: 690px) {
  #map {
    width: 100%;
  }
}

label{
  color: white;
}


pre.ui-distance {
   position:absolute;
   bottom:10px;
   left:10px;
   padding:5px 10px;
   background:rgba(0,0,0,0.5);
   color:#fff;
   font-size:11px;
   line-height:18px;
   border-radius:3px;
  z-index:60;
   }
   .infobar
   {
     position:absolute;
     top:0px;
     right:0px;
     z-index:60;
     width:250px;
     height:100%;
     background-color:$darkGrey;
     opacity:0.8;
     padding: 10px;
     padding-bottom: 23px;
     overflow:hidden; 
     // overflow:auto; 
     // overflow-x:hidden;
    }

    #formId {
      height: 100%;
      padding-bottom: 30px;
      position: relative;
    }
   
   .menu-ui {  position:absolute;
   top:150px;left:10px;z-index:10;
   width:120px;}
   .menu-ui a 
  {
   border:1px solid rgba(0,0,0,0.4);
   background:#fff;
     font-size:13px;
     color:#404040;
     display:block;
     margin:0;padding:0;
     padding:5px 10px;
     text-decoration:none;
     text-align:center;
    border-top:1px solid rgba(0,0,0,0.25);
    border-bottom:1px solid rgba(0,0,0,0.25);
     }
      .menu-ui a:hover {
       background:#f8f8f8;
       color:#404040;
       }
     .menu-ui a.active {
       background:#3887BE;
       color:#FFF;
       }
       .menu-ui a.active:hover {
         background:#3074a4;}
    .menu-ui a.cannotsee 
    {
        visibility:hidden;
    }

         .travelbuttondiv
         {
          overflow: hidden;
          float:left;
          position:relative;
          left:15px;
          line-height:70px;
         }

     .travel-btn
     {
        display: inline-block;
        height: 27px;
        vertical-align: middle;
        width: 57px;
    }


  .row {
    margin-bottom: 20px;
    // margin-left: 10px;
  }

  .timeRow {
    margin-bottom: 5px;
  }
         
 .buttonrow
  {
    margin-bottom: 20px;
    // margin-left: 10px;
     text-align:center;

     #bike-btn {
      float: left;
     }

     #walk-btn {
      float: right;
     }
   }

  #formId .fullLabel {
    display: block;
    margin-bottom: 10px;
  }

    #car-btn {
        background: url('../img/icon-sprite.png') left top no-repeat;
        background-size: 200px;

      &:hover,&.clicked {
        background: url('../img/icon-sprite.png') left bottom no-repeat;
        background-size: 200px;
      }
    }


    #bike-btn {
        background: url('../img/icon-sprite.png') right top no-repeat;
        background-size: 200px;

      &:hover,&.clicked {
        background: url('../img/icon-sprite.png') right bottom no-repeat;
        background-size: 200px;
      }
    }


    #walk-btn {
        background: url('../img/icon-sprite.png') center top no-repeat;
        background-size: 200px;

      &:hover,&.clicked {
        background: url('../img/icon-sprite.png') center bottom no-repeat;
        background-size: 200px;
      }
    }

    
    #car-btn-clicked{
        background: url('../img/icon-sprite.png') left bottom no-repeat;
        background-size: 200px;
    }
    #bike-btn-clicked{
        background: url('../img/icon-sprite.png') right bottom no-repeat;
        background-size: 200px;
    }
    #walk-btn-clicked{
        background: url('../img/icon-sprite.png') center bottom no-repeat;
        background-size: 200px;
    }


// /*global*/

//  ol, ul { list-style: none; margin: 0;padding: 0; }
//  table {border-collapse: collapse;border-spacing: 0px;}
//  fieldset, img { border: 0; }



//  /*start*/
//  .clearfix:after {content:".";display:block;height:0;clear:both; visibility:hidden;}
//  .clearfix { display:inline-block; }
//  * html .clearfix { height:1%; }
//  .clearfix { display:block; }

//  /**normal**/
//  input{}
    


#routeinputselection{
  width: 90%;  
  margin: 0 auto;
  background-color: $darkGrey;
  overflow:hidden;
  z-index: 90;
  position: absolute;
  left: 5%;


#route-draw{
  width: 50%;
  float: left;
  text-align: center;
  padding: 5px 0;
  background-color: $darkGrey;

}

#route-upload{
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
  padding: 5px 0;
  background-color: $darkGrey;
}

img{
  height: 70px;
  width:70px;
}

.main-btn{
  background-color: $pink;
  padding: 8px;
  float: right;
  margin: 0 10%;
  right:10%;
  font-size: 14px;
  font-style: bold;
  font-family: Arial;
  }
p{
  width: 90%;
  font-size: 15px;
  text-align: left;
 margin-bottom: 10px;
}

}

//for the stuff that can be cut off above submit button
#scroll-container {
  height: 100%;
  overflow: auto;
  overflow-x:hidden;

}

//cause im using gridWrapper
#manyinput > .gridWrapper > .column-6 {
    padding-left: 0;
    padding-top: 0;
}


#submit-div {
  position: absolute;
  bottom: 0; 
  margin-left: 0;
  text-align: center;
  width: 100%;
}



#submit.main-btn {
  // position: relative;
  padding: 3px 0;
  width: 60px;
  // text-align: center;
  font-size: 12px;
  
  a{
    color: white;
  }
}

