/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "variables";



/* ------------------------------------------------------ */

//To use rems like pixel sizes:
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

//use this for setting font-size
@mixin remSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}


@function calculateImageHeight($url) {
	$height: image-height($url);
	@return #{$height}px;
}


/* ==========================================================================
        BASICS
   ========================================================================== */


html {
	font-size: 16px;
	line-height: 24px;

	font-family: "robot-thin", san-serif;
}


body {
	font-family: "robot", sans-serif;
	color: $white;
	font-weight: 200;
	background-color: $dark;
}

h1 {
	font-size: calculateRem(120px);
	text-align: center;
	margin-bottom: calculateRem(40px);
	line-height: calculateRem(140px);
	font-family: "chalk", sans-serif;
}


h2 {
	font-size: calculateRem(36px);
	margin-bottom: calculateRem(15px);
	font-family: "robot-boldIt";
	line-height: calculateRem(46px);
}

h3 {
	text-align: center;
	font-size: calculateRem(28px);
	line-height: calculateRem(32px);
	margin-bottom: calculateRem(20px);
	font-family: "robot-thin";
}

h4 {
	text-align: left;
	font-size: calculateRem(24px);
	line-height: calculateRem(28px);
	margin-bottom: calculateRem(15px);
	font-family: "robot-thin";
}

a {
	text-decoration: none;
	color: $white;

	&:hover {
		color: $dark;
	}
}

p {
	line-height: calculateRem(30px);
	font-size: calculateRem(20px);
	font-family: "robot-thin";
}

.width-sizer {
	max-width: 1200px;
	margin: auto;
	display: block;
}

section {
	width: 100%;
	overflow: hidden;
}


.fullHeightSection {
	height: 80vh;
}

.section-Padding {
	padding: calculateRem(70px) $main-sidePadding;
	overflow: hidden;
}


.main-btn {
	display: inline-block;
	background-color: $pink;
	padding: calculateRem(10px);
	font-family: "robot-thin", san-serif;
	font-size: calculateRem(20px);
	font-style: italic;
}

.backgroundImage {
	display: none;
}


.column-left {
	display: inline-block;
	width: calc(50% - 5px);
	margin-right: 10px; 
	overflow: hidden;
}

.column-right {
	display: inline-block;
	width: calc(50% - 10px);
	overflow: hidden;

}


@media only screen and (max-width: $tablet-width) {

	html {
		font-size: 12px;
	} 

	
	
}
@media only screen and (max-width: $mobile-width) {

	p {
		font-size: calculateRem(18px);
		line-height: calculateRem(24px);
	}
}
/* ==========================================================================
       HEADER
   ========================================================================== */
header {
	position: fixed;
	top: 0;
	z-index: 100;
	//height: 45px;
	background-color: $darkBlue;
	width: 100%;

	.module-padding {
		padding: 10px $main-sidePadding;
		overflow: hidden;
		text-align: right;
	}

	.filler {
		height: 45px;
		width: 1px;
		display: inline-block;
	}
}


#header-logo {
	float: left;

	img {
		height: 45px;
	}
}

#header-nav {
	overflow: hidden;
	display: inline-block;

	li {
		display: inline-block;
		text-decoration: none;
		margin-left: 5px;

		a {
			text-transform: uppercase;

			&:hover {
				color: $pink;
			}
		}
	}
}

#burger-button {
	display: none;
}


@media only screen and (max-width: $mobile-width) {
	#burger-button {
		display: inline-block;
		img {
			height: 35px;
		}
	}

	#header-nav {
		display: none;
	
		display: block;
		text-align: center;
		width: 100%;

		li {
			display: block;
			margin-bottom: 0px;
			padding: 10px;

			a {
				display: block;
				padding: 10px 0;
			}
		}
	}
	
	header {
		
		font-size: 24px;

		.module-padding {
			padding: 10px 30px;
		}

		.filler {
			display: none;
		}
	}

	#header-logo img{
		height: 35px;
	}

	
}

/* ==========================================================================
      FOOTER
   ========================================================================== */
footer#footer {
	font-size: calculateRem(18px);
	background-color: $dark;
	color: $white;

	p {
		margin-bottom: 10px;
	}

	h3 {
		text-align: left;
	}

	img {
		width: 20%;
		margin-right: 3%;

		vertical-align: top;

		&:nth-of-type {
			margin-right: 0;
			float: right;
		}
	}

	.footer-logos {
		display: inline-block;
		img {
			height: 100px;
			margin-right: 10px;
		}
	}

	#footer-nav {
		width: 100%;
		// margin-top: calculateRem(20px);

		li {
			display: inline-block;
			margin-right:10px;

			text-transform: uppercase;

		}
	}
	
	a {
		color: $white;

		&:hover {
			color: $lightBlue;
		}
	}
}



/* ==========================================================================
      MAIN CONTENT
   ========================================================================== */

#footprints {
	position: absolute;
	z-index: 10;
	width: 23%;
	max-width: 250px;
	opacity: 0.5;
	left: -50px;
}

#ghostbike {
	position: absolute;
	z-index: 10;
	right: 0;
	width: 12%;
	bottom: 0;
}

#intro-sec {
	margin-top: calculateRem(80px);
	position: relative;
	// background: url("../img/bg_bikes.png") no-repeat;
	// background-size: 100%;
	background-color: $lightBlue;
	
	
	// #bikes {
	// 	visibility: hidden;
	// 	width: 100%;
	// }

// 	.section-Padding {
// 		background-color: transparentize($white, 0.2);
// 		overflow: visible;
// 		position: absolute;
// 		top: 0;
// 		width: 100%;
// 		padding: 60px 0;
// 	}

// 	.width-sizer {

// 		position: relative;

// 		h1,h3 {
// 			color: $white;
// 		}
// 	}

	.btn-container {
	    text-align: center;
		
		// .main-btn {
		// 	margin-right: calculateRem(20px);
		// 	font-family: "robot-thin"
		// }
	}

// 	@media only screen and (max-width: $mobile-width) {
// 		.section-Padding {
// 			padding-top: calculateRem(100px);
// 		}
// 	}
// 	.invisibleDiv {
// 		width: 100%;
// 		height: calculateRem(100px);
// 	}
}

/* 
   about
   ========================================================================== */
#about-sec {
	// background-image: url("../img/bg_inverleith.png");
	// background-size: 100%;
	// background-repeat: no-repeat;

	background-color: $dark;

	h2 {
		text-align: center;
	}

	#pointingArrow {
		margin-top: calculateRem(10px);
	}

	.section-Padding {
	// 	// background-color: transparentize($turquese, 0.3);
	// 	// height: 100%;
		// padding-top:0;
		padding-bottom:0;

		a {
			color: $pink;

			&:hover {
				color: $white;
			}
		}
	}

	// 	.width-sizer {
	// 		float: right;
	// 		width: 40%;
	// 		padding: 5%;

	// 	}
	// 	@media only screen and (max-width: $tablet-width) {
	// 		.width-sizer {
	// 			padding: 5%;
	// 			width: 60%;
	// 		}
	// 	}


}


/* 
   map
   ========================================================================== */

// #drawUploadSelect {
//     position: fixed;
//     width: 100%;
//     z-index: 200;

//     display: none;

//     .container {
//     	width: 30%;
//     	margin: 0 auto;
//     	text-align: center;
//     }
// }


#map-sec {
	position: relative;

	.section-Padding {
		padding: 0;
	}
}

/* 
   about us
   ========================================================================== */
#team-sec {
	background-color: $lightBlue;
	color: $white;

	img {
		width: 80%;
		display: block;
		margin: 0 auto;
	}

	img.logo {
		width: 80%;
		margin: 0;
	}

	a:hover {
		color: $pink;
	}
}

/* ==========================================================================
		INPUT MAP   
   ========================================================================== */
#overlay
{
	margin:0;padding:0;
	position:absolute;
	left:0px;
	top:0px;
    height:100%;
    width:100%;
    background:#000000;
    opacity:0;
    z-index:40;
    visibility:hidden;
}



/* ==========================================================================
		FOR LOADING   
   ========================================================================== */
.loading{
position: fixed;;
width: 100%;
height: 100%;
z-index: 100000;
background-color: black;
}

.l-wrapper {
  position: absolute;
  width: 480px;
  height: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
}


/* ==========================================================================
		FOR FAQ  
   ========================================================================== */

 #FAQ
 {
 	left: 2%;
 	position: relative;
 	h2{
 		margin-top: 70px;
 		padding: 30px;
 	}
 	p{
 		padding: 20px;
 		margin: 10px;
 		width:70%;
 		font-weight: bold;
 	}
 	#ghostbiketwo{
		position: relative;
		top: -50px;
		left: 70%;
		width:200px;
 	}
 }

 /* ==========================================================================
    OUTPUT MAP
    ========================================================================== */
 
 #outputSlider {
 	height: 700px;
	
	@media only screen and (max-width: $tablet-width) {
			height: 500px;
	}
 }


 