/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$turquese: #00B6D3;

$white: #ffffff;

$pink: #F750E3;

$dark: #222222;


//responsive
$mobile-width: 690px;

$main-sidePadding: 10px;



/* ------------------------------------------------------ */

//To use rems like pixel sizes:
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

//use this for setting font-size
@mixin remSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}


/* ==========================================================================
        BASICS
   ========================================================================== */


html {
	font-size: 16px;
}


body {
	font-family: sans-serif;
	color: $white;
	font-weight: 200;
	background-color: $dark;
}

h1 {
	font-size: calculateRem(55px);
	font-weight: bold;
	text-align: center;
	margin-bottom: calculateRem(20px);
}

h1 > span {
	font-style: italic;
	font-weight: 100;
}

h2 {
	font-size: calculateRem(36px);
}

h3 {
	text-align: center;
	font-size: calculateRem(28px);
	margin-bottom: calculateRem(20px);
}

a {
	text-decoration: none;
	color: $white;

	&:hover {
		color: $dark;
	}
}

.width-sizer {
	max-width: 1200px;
	margin: auto;
	display: block;
}

section {
	width: 100%;
	overflow: hidden;
}

.section-Padding {
	padding: calculateRem(70px) $main-sidePadding;
	overflow: hidden;
}


.main-btn {
	display: inline-block;
	background-color: $pink;
	padding: calculateRem(10px);
}



@media only screen and (max-width: $mobile-width) {

	html {
		font-size: 14px;
	} 
	
	.section-Padding {
		padding-left: 20px;
		padding-right: 20px;
	}
}


 /************************
      HEADER 
  ***********************/
header {
	position: fixed;
	top: 0;
	//height: 45px;
	background-color: $turquese;
	width: 100%;

	.module-padding {
		padding: $main-sidePadding 20px;
		overflow: hidden;
		text-align: right;
	}

	.filler {
		height: 45px;
		width: 1px;
		display: inline-block;
	}
}


#header-logo {
	float: left;

	img {
		height: 45px;
	}
}

#header-nav {
	overflow: hidden;
	display: inline-block;

	li {
		display: inline-block;
		text-decoration: none;
		margin-left: 5px;

		a {
			text-transform: uppercase;
		}
	}
}

#burger-button {
	display: none;
}


@media only screen and (max-width: $mobile-width) {
	#burger-button {
		display: inline-block;
		img {
			height: 45px;
		}
	}

	#header-nav {
		display: none;
	}

	#header-nav.show {
		display: block;
		text-align: center;
		width: 100%;

		li {
			display: block;
			margin-bottom: 20px;
			padding: 10px;
		}
	}
	
}


  /************************
       FOOTER 
   ***********************/





/************************
   		MAIN CONTENT 
***********************/

#intro-sec {
	margin-top: calculateRem(60px);
	position: relative;

	img {
		width: 100%;
	}

	.section-Padding {
		position: absolute;
		background-color: transparentize($white, 0.2);
		position: absolute;
		top: 0;
		width: 100%;
		padding-top: calculateRem(130px);
		overflow: visible;
		
	}

	.width-sizer {

		h1,h3 {
			color: $turquese;
		}
	}

	.btn-container {
		bottom: -14px;
	    position: absolute;
	    text-align: center;
	    width: 100%;
		
		.main-btn {
			margin-right: calculateRem(20px);
		}
	}



	@media only screen and (max-width: $mobile-width) {
		.section-Padding {
			padding-top: calculateRem(100px);
		}
	}
}


#map-sec {
	background-image: url("../img/bg_inverleith.png");
	background-size: 100%;
	background-repeat: no-repeat;

	.section-Padding {
		background-color: transparentize($turquese, 0.5);
		padding-bottom: 200px;


		.width-sizer {
			float: right;
			width: 50%;
		}
	}
}



