@import "variables";

.axis path,
.axis line {
    fill: $darkBlue;
    stroke: white;
    shape-rendering: crispEdges;
}
 
.axis text {
    font-family: Arial;
    font-size: 24px;
    fill:white;   
}



.roadname{
	position: fixed;
	font-family: Arial;
	font-size: 20px;
	color: white;
	left: 0px;
	height:1000px;
	width:500px;

	text{
		fill:white;
	}
}

#roadcontainer{
	position: fixed;
	left: 0px;
	top:0px;
	height: 100%;
	width:250px;
	float: left;
	padding: 8px;
	
	border-right: 10px;
	border-color: $lightBlue;
	background-color: $darkBlue;
}




.bike {
	stroke: green;
	fill:green;
	opacity: 0.8;
	}

.car {
	stroke: red;
	fill:red;
	opacity: 0.8;
}

.walk {
	stroke: blue;
	fill:blue;
	opacity: 0.8;
}

body{
	background-color: $darkGrey;
}