#map-container {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 90;
  visibility:hidden;
}

#map
{
  height:700px;
  width:90%;
  z-index:50;
  position:relative; 
  margin: 0 auto; 
  visibility:hidden;
  margin-top: 100px;
 }



@media only screen and (max-width: 690px) {
  #map {
    width: 100%;
  }
}

#overlay
{
margin:0;padding:0;
position:absolute;
left:0px;
top:0px;
    height:100%;
    width:100%;
    background:#000000;
    opacity:0;
    z-index:40;
    visibility:hidden;
    }


pre.ui-distance {
   position:absolute;
   bottom:10px;
   left:10px;
   padding:5px 10px;
   background:rgba(0,0,0,0.5);
   color:#fff;
   font-size:11px;
   line-height:18px;
   border-radius:3px;
  z-index:60;
   }
   .infobar
   {position:absolute;
   top:0px;
   right:0px;
   z-index:60;
   width:250px;
   height:100%;
   background-color:#3887BE;
   opacity:0.8;
       }
   
   .menu-ui {  position:absolute;
   top:150px;left:10px;z-index:10;
   width:120px;}
   .menu-ui a 
  {
   border:1px solid rgba(0,0,0,0.4);
   background:#fff;
     font-size:13px;
     color:#404040;
     display:block;
     margin:0;padding:0;
     padding:5px 10px;
     text-decoration:none;
     text-align:center;
    border-top:1px solid rgba(0,0,0,0.25);
    border-bottom:1px solid rgba(0,0,0,0.25);
     }
      .menu-ui a:hover {
       background:#f8f8f8;
       color:#404040;
       }
     .menu-ui a.active {
       background:#3887BE;
       color:#FFF;
       }
       .menu-ui a.active:hover {
         background:#3074a4;}
      .menu-ui a.cannotsee 
      {
   visibility:hidden;
     }
     
     .travelbutton
     {width:50px;
      height:50px;
      
       vertical-align:middle;
         }
         
    .travelbutton:hover
     {width:70px;
      height:70px;
         }
         
         .travelbuttondiv
         {width:70px;
          height:80px;
          float:left;
          position:relative;
          left:15px;
          line-height:70px;
         
             }
