#map-container {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 90;
  visibility:hidden;
  padding-top: 100px;
}

#map
{
  height:700px;
  width:90%;
  z-index:50;
  position:relative; 
  margin: 0 auto; 
  visibility:hidden;
  margin-top: 0;
 }


 .close-btn {
  text-align: right;
  width: 90%;
  margin: 0 auto;

    .main-btn {
      background-color: transparent;
      padding: 0 0 10px 0;

      a {
        display: inline-block;
        height: 20px;
        width: 20px;
        background: url('../img/icon-close.png') no-repeat;
        background-size: 40px;
      }

      a:hover {
        background: url('../img/icon-close.png') right 0 no-repeat;
        background-size: 40px;
      }
    }
 }


@media only screen and (max-width: 690px) {
  #map {
    width: 100%;
  }
}




pre.ui-distance {
   position:absolute;
   bottom:10px;
   left:10px;
   padding:5px 10px;
   background:rgba(0,0,0,0.5);
   color:#fff;
   font-size:11px;
   line-height:18px;
   border-radius:3px;
  z-index:60;
   }
   .infobar
   {
     position:absolute;
     top:0px;
     right:0px;
     z-index:60;
     width:250px;
     height:100%;
     background-color:#3887BE;
     opacity:0.8;
     padding: 10px;
     overflow:auto; 
     overflow-x:hidden;
    }
   
   .menu-ui {  position:absolute;
   top:150px;left:10px;z-index:10;
   width:120px;}
   .menu-ui a 
  {
   border:1px solid rgba(0,0,0,0.4);
   background:#fff;
     font-size:13px;
     color:#404040;
     display:block;
     margin:0;padding:0;
     padding:5px 10px;
     text-decoration:none;
     text-align:center;
    border-top:1px solid rgba(0,0,0,0.25);
    border-bottom:1px solid rgba(0,0,0,0.25);
     }
      .menu-ui a:hover {
       background:#f8f8f8;
       color:#404040;
       }
     .menu-ui a.active {
       background:#3887BE;
       color:#FFF;
       }
       .menu-ui a.active:hover {
         background:#3074a4;}
    .menu-ui a.cannotsee 
    {
        visibility:hidden;
    }

         .travelbuttondiv
         {
          overflow: hidden;
          float:left;
          position:relative;
          left:15px;
          line-height:70px;
         }

     .travel-btn
     {
        display: inline-block;
        height: 27px;
        vertical-align: middle;
        width: 57px;
    }


  .row {
    margin-bottom: 10px;
    margin-left: 10px;
  }
         
 .buttonrow
         {
              margin-top: 20px;
              margin-bottom: 25px;
              margin-left: 10px;
               text-align:center;
         }

    #car-btn {
        background: url('../img/icon-sprite.png') left top no-repeat;
        background-size: 200px;

      &:hover,&.clicked {
        background: url('../img/icon-sprite.png') left bottom no-repeat;
        background-size: 200px;
      }
    }


    #bike-btn {
        background: url('../img/icon-sprite.png') right top no-repeat;
        background-size: 200px;

      &:hover,&.clicked {
        background: url('../img/icon-sprite.png') right bottom no-repeat;
        background-size: 200px;
      }
    }


    #walk-btn {
        background: url('../img/icon-sprite.png') center top no-repeat;
        background-size: 200px;

      &:hover,&.clicked {
        background: url('../img/icon-sprite.png') center bottom no-repeat;
        background-size: 200px;
      }
    }

    
    #car-btn-clicked{
        background: url('../img/icon-sprite.png') left bottom no-repeat;
        background-size: 200px;
    }
    #bike-btn-clicked{
        background: url('../img/icon-sprite.png') right bottom no-repeat;
        background-size: 200px;
    }
    #walk-btn-clicked{
        background: url('../img/icon-sprite.png') center bottom no-repeat;
        background-size: 200px;
    }
