#resultMap {
	width: 100%;
	height: 600px;

	.journey {
		fill: none;
		stroke-width: 3;
		stroke-opacity: 0.3;
	}

	.bike {
		stroke: green;
	}

	.car {
		stroke: red;
	}

	.walk {
		stroke: blue;
	}
		


}