@import "variables";

$header-height: 80px;


/* ==========================================================================
   HEADING
   ========================================================================== */
#sliderHeader {
    background: none repeat scroll 0 0;
    background-color: transparentize($dark, 0.4);
    height: $header-height;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    .section-Padding {
    	padding-top: 10px;
    	padding-bottom: 10px;
    }

    .sliderHeader-content {
    	display: none;

    	&.show {
    		display: block;
    	}
    }
}


/* ==========================================================================
   CONTENT
   ========================================================================== */
#outputSlider {


/* 
   MAP WITH PATHS
   ========================================================================== */
#resultMap {
	width: 100%;
	height: 700px;

	//reposition the zoom things, so the header has some space
	.leaflet-top .leaflet-control {
	    margin-top: $header-height + 10px;
	}

	.journey {
		fill: none;
		stroke-width: 3;
		stroke-opacity: 0.5;
	}

	.bike {
		stroke: green;
	}

	.car {
		stroke: red;
	}

	.walk {
		stroke: blue;
	}
		


}


/* 
   For the Comment Section
   ========================================================================== */

#commentOutput {
	color: $dark;
	position: relative;
}

.gridWrapper {
	max-width: 2000px;
	padding-top: $header-height;
}


#filter-sidebar {
	width: 215px;

	h4 {
		margin-bottom: 15px;
	}
}

#comment-pane {
	height: 100%;
	overflow: scroll;
	width: calc(100% - 220px);
	// position: relative;


	#overlayComment {
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: transparentize($dark, 0.3);
		display: none;
	}

	.comment {
		// border: solid 2px white;

		margin-bottom: 10px;
		// height: 110px;

		.comment-text{
			// height: 100%;
			overflow: hidden;
			background-color: transparentize($dark,0.3);
			color: $white;
			text-align: left;
			padding: 30px;
			text-overflow: ellipsis;
			white-space: nowrap;

			> p {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}


		&:hover {
			cursor: pointer;

			.comment-text {
				background-color: transparentize($dark,0.1);
			}
		}
	}


	//to toggleComments
	.comment {
		display: none;
	}

	&.bike {
		.comment.bike {
			display: block;
		}
	}

	&.car {
		.comment.walk {
			display: block;
		}
	}

	&.walk {
		.comment.car {
			display: block;
		}
	}

}

@media only screen and (max-width: $tablet-width) {
	#comment-pane {
		.comment {
			height: 100px;
		}
	}
}


/* 
   For the Filter
   ========================================================================== */

.travel-btn
     {
        display: inline-block;
        height: 27px;
        vertical-align: middle;
        width: 57px;
    }


#car-btn {
        background: url('../img/icon-sprite.png') left top no-repeat;
        background-size: 200px;

      &:hover,&.clicked {
        background: url('../img/icon-sprite.png') left bottom no-repeat;
        background-size: 200px;
      }
    }


    #bike-btn {
        background: url('../img/icon-sprite.png') right top no-repeat;
        background-size: 200px;

      &:hover,&.clicked {
        background: url('../img/icon-sprite.png') right bottom no-repeat;
        background-size: 200px;
      }
    }


    #walk-btn {
        background: url('../img/icon-sprite.png') center top no-repeat;
        background-size: 200px;

      &:hover,&.clicked {
        background: url('../img/icon-sprite.png') center bottom no-repeat;
        background-size: 200px;
      }
    }

    


    } //outoutSlider
